/* SHARED FONT STYLES AND COMMON COLORS */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}


.primary-g-col {
    color: #FF42A5;
}
.primary-color-title {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.primary-title {
    color: #0B0223;
    font-size: 48px;
    line-height: 60px;
}
.primary-description {
    color: #534C64;
    font-size: 18px;
    line-height: 30px;
}
.primary-option-font {
    color: #0B0223;
    font-size: 20px;

}
.primary-button-img {
    display: inline-block;
    margin-right: 5px;
}



/* NAV SECTION */

nav {
    align-items: center;
    display: flex;
    height: auto;
    width: auto;
}
.logo {
    margin-top: 45px;
}
.logo-title {
    display: grid;
    grid-template-columns: 100px 200px;
    margin-left: 200px;
}
.nav-btn{
   
}
.text ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    margin-left: 700px;
    gap: 100px;

}
.text a {
    text-decoration: none;
    color: #3C354F;
}
.gamer {
    font-size: 45px;
    color: #0B0223;
}



/* FIRST SECTION STRATS */

.banner {
    height: auto;
    width: auto;
    display: grid;
    grid-template-columns: 1000px 40px;

}
.goat-container {
    align-items: center;
    background-image: url('../images/Group\ 14.png');
    background-repeat: no-repeat;
    padding: 100px 250px;


}
.title-1 {
    color: #0B0223;
    font-size: 48px;
}
.title-2 {
    font-size: 95px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sign-in {
    padding: 21px 40px;
    border-radius: 48px;
    border: none;
    background: #FF42A5;
    padding: 21px 40px;
    gap: 10px;
    border-radius: 48px;
    color: #fff;
    font-size: 20px;

}
.go-rogue {
    border: none;
    padding: 21px 40px;
    border-radius: 48px;
    background: #4EC5F7;
    color: #fff;
    font-size: 20px;
}



/* SCECOND SECTION STARTS  */

.container-two {
    justify-content: center;
    background: rgba(255, 66, 165, 0.03);
    display: flex;
    align-items: center;
    padding: 0 50px;
}
.text-content {
    text-align: right;
}
.our-purpose {
    color: #534C64;
    font-size: 24px;
    line-height: 45px;
}
.unleash {
    color: #534C64;
    font-size: 32px;
    line-height: 45px;
}
.know-more-btn {
    padding: 21px 40px;
    gap: 10px;
    border-radius: 48px;
    border: none;
    background: #FF42A5;
    color: #fff;
    font-size: 20px;
}



/* THIRD SECTION */
.cards-container {
    margin: 100px 200px;
    padding: 100px 100px;
    text-align: center;
}
.cards {
    display: flex;
    justify-content: center;
    gap: 50px;
}



/* FOURTH SECTION STARTS */

.container-three {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 0 250px;
}
.play-game-tit-dis {
    text-align: left;
}
.big-img {
    background: 100%;
    position: absolute;
}
.small-img {
    position: relative;
    margin-top: 450px;
    margin-left: 540px;
}



/* FIFTH SECTION STARTS */

.options {
    background: rgba(255, 66, 165, 0.03);
    display: flex;
}
.primary-icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 80px;
    background-color: #FFF;
    border: none;
    margin: 200px 0px;
    padding: 10px 10px;

}
.primary-icon-button:hover {
    border: solid #FF42A5;
}
.primary-option-font:hover {
    color: #FF42A5;
}



/* FOOTER SECTION */

footer {
    width: 1920px;
    height: 636px;
    background: #0B0223;
    position: relative;
}
.fot-gamer{
   color: #FFF; 
}
.footer-title{
    display: flex;
    justify-content: center;
    padding: 40px;
}
.footer-container{
    
}
.footer-links{
    color: #FFF;
    padding: 40px;
    display: flex;
    justify-content: space-around;
}
.icons{
    display: flex;
    justify-content: center;
    gap: 70px;
    padding: 40px;
}
.policies{
    color: #ffffff8f;
    display: flex;
    justify-content: center;
    gap: 200px;
    padding: 40px;
}
.copyright{
    color:#ffffff8f ;
    display: flex;
    justify-content: center;
    padding: 35px;
}




/* MEDIA QUERY */

/* MOBILE RESPONSIVE */

@media screen and (max-width:576px) {
    .banner {
        grid-template-columns: repeat(1,2fr);
        
    }
    .text ul{
        display: flex;
        grid-template-columns: repeat(1,3fr);
    }
    nav{
        flex-direction: column;
        display: grid;
        grid-template-columns: repeat(1,3fr);
    }
    .cards{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .container-two{
        grid-template-columns: repeat(1,2fr);
        padding: 0 50px;
    }
    .container-three{
        display: flex;
    }
}



/* TAB REPONSIVE */